# The Prettierignore from RoseUi
# ----------------------------------------------------------------

# Default general ".file" 

# Ignore artifacts:
.coverage

# Dependencies：
**/node_modules

# Ignore production files:
dist
es
lib
logs

